.navbar {
	background-color: $bg;
	@include padding(0.25rem null);

	& .logo {
		max-height: 50px;
	}
}

.nav-users {
	@include padding(0.5rem null);
	align-items: center;

	& a {
		@extend %border-bg-transparernt;
		border-radius: 0.5rem;

		& span {
			margin-right: 0.5rem;
		}
	}

	& .user-logo {
		max-height: 40px;
	}

	& .dropdown {
		background-color: $bg;
	}

	& .dropdown-menu {
		background-color: $bg;
		border: 1px solid $bg-blue;
		border-radius: 0.5rem;
	}

	& .dropdown-item {
		color: $colorWhite;
		background-color: $bg;
		transition: opacity background-color 300ms ease-in-out;

		&:hover {
			color: $colorWhite;
			background-color: $bg;
			opacity: 0.9;
		}
	}
}
